.container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  padding-bottom: 60px;

  @media (min-width: 769px) {
    flex-direction: column; 
  }
  
  &__hourGlass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 38px;

    p {
      color: #adadad;
    }
  }

  &__image,
  &__hourGlass,
  &__title,
  &__scrollIcons {
    @media (max-width: 768px) {
      margin-top: 10px; 
    }
  }

  &__hourGlass {
    margin-bottom: 38px; 

    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    min-width: 350px;
    height: 450px;
    pointer-events: none;
    z-index: 1;
    padding: 20px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 52px;
    }

    @media (max-width: 768px) {
      min-width: 300px; 
      height: 360px; 
      padding: 30px;
      
      img {
        border-radius: 32px; 
      }
    }

    // Desktop adjustments
    @media (min-width: 769px) {
      width: 400px;
      height: 450px;
      padding: 20px;
    }
  }

  &__textBottom {
    position: absolute;
    bottom: 40px; 
    left: 30px; 
    right: 30px;
    padding: 15px 20px;
    z-index: 2;
    display: flex;
    justify-content: center;

    p {
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      line-height: 1.5;
    }

    // Desktop enhancement
    @media (min-width: 768px) {
      bottom: 30px;
    }
  }

  &__title {
    font-size: 32px;
    color: black;
    font-weight: bold;
    font-family: var(--font-heading);
    z-index: 2;

    // Desktop enhancement
    @media (min-width: 769px) {
      font-size: 52px;
      bottom: 50px; 
      left: 40px;
      right: 40px;
      padding: 20px;

      p {
        text-align: justify;
      }
    }
  }

  &__scrollIcons {
    display: flex;
    justify-content: space-between;
    gap: 0;

    button {
      background: transparent;
      border: none;
      cursor: pointer;

      img {
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}