.wrapper {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0 15%;
}

.imageContainer {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 20%;
  
  img {
    width: 152px;
    height: 152px;
    object-fit: contain;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.1));
  }
}