.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  text-align: center;
  background: #fff;

  &__info {
    margin-top: 3rem;
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 1rem;
      
      color: #000;
    }

    p {
      font-size: 16px;
      margin-bottom: 0.75rem;
      color: #000;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__walletImage {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__iphoneLadyImage {
    display: none;
    margin-top: 2rem;
    position: relative;
    width: 414px;
    height: 788px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    @media (min-width: 768px) {
      display: flex; 
      flex: 1;
      justify-content: center;
      align-items: flex-end;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;

    &__info {
      flex: 1;
      max-width: 30%;
      
      h2 {
        padding-bottom: 40px;
        font-size: 52px;
      }

      p {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__walletImage {
      flex: 1;
    }
  }
}
